<a href="https://colab.research.google.com/github/uday160386/uday_ai_ml/blob/main/PNB_3_Loops_and_Iteration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Practice Notebook

Exercise 1:  Write a *while* loop to print numbers from 0 to 10

In [ ]:
n=0
while n<10:
  print(n)
  n=n+1

Exercise 2:  Print the first number greater than 100 that is divisible by 17

In [ ]:
n=101
while n>100:
  if n%17==0:
    print(n)
    break
  else:
    n=n+1

Exercise 3: Using *for* loop print out the characters of 'Portland'

In [ ]:
for i in 'Portland':
  print(i)

Exercise 4: Do the following:

1. Use a lower bound of 1 and an upper bound of 10 with range to print 1-9
2. Use range with one bound only, the number 10, to print the first ten numbers
3. Use a step increment to count the even numbers through 10

In [ ]:
for i in range(1,10):
  print(i)

In [ ]:
for i in range(10):
  print(i)

In [ ]:
for i in range(2,10,2):
  print(i)

Exercise 5:  print each letter of "Python" three times

In [ ]:
for i in "Python":
  print(3*i)

Exercise 6: Write a *for* loop for the following

1.  print the squares of numbers from 1 to 10.
2.  iterate over a list of names and print each name
3.  calculate the sum of numbers in a given list.

In [ ]:
import math
for i in range(1,11):
  print(int(math.pow(i,2)))

In [ ]:
itr_name=["Uday","Kumar","bkv"]
for i in itr_name:
  print(i)

In [ ]:
t=0
num=[22,33,44,11,3,4,5]
for i in num:
  t=t+i
print(t)

Exercise 7: Write a nested loop to generate multiplication tables for numbers from 1 to 10

In [ ]:
for i in range(1,11):
  for j in range(1,11):
    print('{} * {} = {}'.format(i,j,i*j))