<a href="https://colab.research.google.com/github/uday160386/uday_ai_ml/blob/main/PNB_5_Strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Practice Notebook

## Strings

A string is a series of characters. In Python, anything inside "quotes" is a string. You can either use 'single quotes' or "double quotes".

For more info, refer [here](https://www.w3schools.com/python/python_strings.asp).

####Exercise 1:

Declare the values of a string variable to be 'Tests, Quizzes, Individual Labs, Group Labs and Hackathons'.


Print the string.

In [1]:
str1='Tests, Quizzes, Individual Labs, Group Labs and Hackathons'
print(str)

<class 'str'>

####Exercise 2:

Declare the values of a string variable to be "I need Tables, Chairs, Cupboards", in double qoutes.

Print the string.

In [2]:
str2="I need Tables, Chairs, Cupboards"
print(str)

<class 'str'>

####Exercise 3:

Concatenate the two string variables declared in Exercise 1 and Exercise 2.

In [3]:
str4=str1+str2
print(str4)

Tests, Quizzes, Individual Labs, Group Labs and HackathonsI need Tables, Chairs, Cupboards

####Exercise 4:

Write a short note on any topic in python and print the note using single `print` statement.

In [7]:
print(' writing the short notes')

 writing the short notes

####Exercise 5:

* Concatenate the output of the string in Exercise 3 and output of the string in Exercise 1.
* Print the length of the concatenated string.

In [9]:
new_str=str4+str1
print(new_str)
print(len(new_str))

Tests, Quizzes, Individual Labs, Group Labs and HackathonsI need Tables, Chairs, CupboardsTests, Quizzes, Individual Labs, Group Labs and Hackathons
148

#### Exercies 6:

Perform simple string operations for A = "Hello", B = "world!":
 * Concatenate by +.
 * Multiple concatenation by *  (ex: 4 * A + " " * 3 + B * 2).
 * Check for substring with `in`.
 * Determine the size (number of characters) using `len`.

In [16]:
A = "Hello"
B = "world!"
print(A+B)
print(2*(4 * A + " " * 3 + B * 2))
len(2*(4 * A + " " * 3 + B * 2))

Helloworld!
HelloHelloHelloHello   world!world!HelloHelloHelloHello   world!world!

70

####Exercies 7:

For the given variable name = 'hELLO, WORLD!', perform the following:
* Print the character '!'.
* Convert the string to lowercase.
* Print the first character in upper case.
* Print a string where all the upper case letters are lower case and vice versa.

In [17]:
name = 'hELLO, WORLD!'
print(name[-1])

!

In [18]:
# The lower() method returns a string converted to lowercase.
print(name.lower())

hello, world!

In [19]:
print(name.upper())

HELLO, WORLD!

In [22]:
print(name.swapcase())

Hello, world!

#### Exercies 8:

For a given string, perform the following:
* Using `for` to iterate over a string in Python.
* Print the number of times the letter/character ‘s’ appears in a string.

In [4]:
for i in name:
  print(i)

NameError: name 'name' is not defined

In [27]:
n=0
for i in name:
  if i == 'D':
    n=n+1
print(n)

1

#### Exercies 9:

For a given list, perform the following:

* Print the list in reverse oder.

* Print the following my_list[-1].

* Print the following output  [2, 33, 222, 14] using slice method.

In [31]:
my_list = [2, 33, 222, 14, 25]
my_list.sort(reverse=True)
print(my_list)

[222, 33, 25, 14, 2]

In [32]:
my_list = [2, 33, 222, 14, 25]
print(my_list[-1])

25

In [33]:
my_list = [2, 33, 222, 14, 25]
print(my_list[0:-1])

[2, 33, 222, 14]

#### Exercies 10:

For the given string, perform following methods:

* Split the string by using 'word.split' and print the result.
* Replace MachineLearning by Python using `.replace()`.

In [35]:
str1='Tests, Quizzes, Individual Labs, Group Labs and Hackathons'
print(str1.split(" "))

['Tests,', 'Quizzes,', 'Individual', 'Labs,', 'Group', 'Labs', 'and', 'Hackathons']

In [36]:
print(str1.replace("Tests","Test"))

Test, Quizzes, Individual Labs, Group Labs and Hackathons