<a href="https://colab.research.google.com/github/uday160386/uday_ai_ml/blob/main/PNB_4_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Practice Notebook

#### Manually Created Functions
Functions are very easy to write in python and all non-trivial programs have functions. Function names have the same rules as variable names.

#### Built in Functions
Python comes with a nice set of built-in functions
The complete set can be seen at:https://docs.python.org/3.6/library/functions.html

We take a look at the most used ones here.

## Manually Created Functions

#### Exercise 01: Build a function that takes the below string as a parameter and returns the words in the given string in backward order.

Hint: [Split the words and join them in the reverse order using ' '.join(iterable)](https://docs.python.org/3/library/stdtypes.html)

In [ ]:
string1 = "my name is johnny"

In [50]:
def reverse_string(str):
  str=str.split(" ")
  return str[::-1] #used slicing notation

string1 = "my name is johnny"
print(reverse_string(string1))

['johnny', 'is', 'name', 'my']

#### Exercise 02: For the given tuple of numbers, do the following:
* Write a function which takes an integer 'N' as a parameter and returns the sum of multiples of 3 or 5 between 0 and N (limit). Where N is any element from the given tuple.
* Print all the sum of multiples for each element from the tuple.
* Example: If we list all the natural numbers less than 10 that are multiples of 3 or 5, we get 3, 5, 6, and 9 and their sum is 23

In [56]:
tuple2 = (10, 20, 30, 40, 50)

In [58]:
def sum_of_multiples(N):
  sum=0
  for i in range(1, N):
        if i%3 ==0 or i%5==0:
          sum=sum+i
  return sum

print(sum_of_multiples(10))
for j in tuple2:
    print(sum_of_multiples(j))

23
23
78
195
368
543

#### Exercise 03: Build a function to print prime numbers within the given range.

In [51]:
limit = 20

def print_prime_numbers(a, b):
    prime_number_list = []
    for i in range(a, b):
        if i == 0 or i == 1:
            continue
        else:
            for j in range(2, int(i/2)+1):
                if i % j == 0:
                    break
            else:
                prime_number_list.append(i)
    return prime_number_list
print(print_prime_numbers(2,9))

[2, 3, 5, 7]

#### Exercise 4: Rock Paper Scissors: Complete the function below that takes the given input word as a parameter and selects a random element from the words list. It then prints the random word within the function and returns a string, declaring 'win' or 'lose' or 'tie'.

Example: Random input= 'Scissors', User input= Paper, Output = 'lose'

Hint: [random.choice](https://docs.python.org/3/library/random.html)

In [49]:
import random
words = ['Rock','Paper','Scissors']
input  = 'Scissors'

def game(input):
  ## Complete the function
  word =random.choice(words)
  if  word == 'Scissors' and input == 'Paper':
    print('lose')
  elif word == 'Paper' and input == 'Scissors':
    print('win')
  else:
    print('tie')
game(input)

tie

## Built-in Functions

#### Exercise 05: Extract maximum value of each element in the given list using the built-in max function.



Hint: [max(iterable)](https://docs.python.org/3/library/functions.html#max)

In [40]:
list1 = [[1,2,4],[5,6],[8,9,12],[21,44],[121]]

In [41]:
for i in list1:
  print(max(i))

4
6
12
44
121

#### Exercise 06: For given list *a* and *b* perform the following Aggregate Functions
* len(iterable)
* max(iterable)
* min(iterable)
* sorted(iterable, key, reverse)
* sum(iterable, start)

In [26]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
b = [5,10, 15, 20, 25, 30, 35, 40, 45, 50]

In [34]:
print(len(a))
print(len(b))
print(max(a))
print(max(b))
print(min(a))
print(min(b))
print(sorted(a,reverse=True ))
print(sorted(b,reverse=True ))
print(sum(a, 0))
print(sum(b, 0))

10
10
10
50
1
5
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[50, 45, 40, 35, 30, 25, 20, 15, 10, 5]
55
275

#### Exercise 07: Print the data type of x, y and z  values

In [37]:
x = 10
print(type(x))

y = 12.6
print(type(y))

z = x + y
print(type(z))

<class 'int'>
<class 'float'>
<class 'float'>

Exercise 08:  Initialize the string and perform the following:

1. Check the type of string
2. convert string to int and check the type

In [35]:
a = '1234'

In [39]:
print(type(a))
print(type(int(a)))

<class 'str'>
<class 'int'>